/*---------------------------------------------------------------------------*\
 |  style.scss                                                               |
 |                                                                           |
 |  Copyright © 2016-2017, Rajiv Bakulesh Shah, original author.             |
 |                                                                           |
 |      This program is free software: you can redistribute it and/or modify |
 |      it under the terms of the GNU General Public License as published by |
 |      the Free Software Foundation, either version 3 of the License, or    |
 |      (at your option) any later version.                                  |
 |                                                                           |
 |      This program is distributed in the hope that it will be useful, but  |
 |      WITHOUT ANY WARRANTY; without even the implied warranty of           |
 |      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU    |
 |      General Public License for more details.                             |
 |                                                                           |
 |      You should have received a copy of the GNU General Public License    |
 |      along with this program.  If not, see:                               |
 |          <http://www.gnu.org/licenses/>                                   |
\*---------------------------------------------------------------------------*/



@import 'normalize';



// CSS media queries to detect device type
$device-mobile: 'only screen and (max-device-width: 640px)';
$device-tablet: 'only screen and (min-device-width : 641px) and (max-device-width: 1279px)';
$device-desktop: 'only screen and (min-device-width: 1280px)';

// CSS media queries to detect device orientation
$orientation-portrait: '(orientation: portrait)';
$orientation-landscape: '(orientation: landscape)';



// Inline http://fonts.googleapis.com/css?family=Lato:300,400,700
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/nj47mAZe0mYUIySgfn0wpQ.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/DvlFBScY1r-FMtZSYIYoYw.ttf) format('truetype');
}



body {
    background: black;
    color: white;
    font: 24px 'Lato', sans-serif;
    text-transform: lowercase;

    @media #{$device-mobile} {
        font-size: 16px;
    }

    a {
        color: white;
    }

    em {
        font-style: normal;
        font-weight: 700;
    }
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    transition: all 0.2s ease 0s;

    &:not(:first-of-type) {
        display: none;
    }

    &.playing {
        opacity: 0.8;
        cursor: pointer;
    }
}

form {
    position: relative;
    margin: 24px;
    width: 20em;
    font-weight: 300;

    @media #{$device-mobile} {
        margin: 12px;
        width: 15em;
    }

    fieldset {
        margin: 0;
        border: 0;
        padding: 0;

        input {
            -webkit-appearance: none !important;
            border: 1px solid white;
            border-radius: 2px;
            padding: 4px 8px;
            width: 6em;
            background: transparent;
            color: white;
            line-height: 1.25;
            font-weight: 700;
            text-transform: lowercase;
            transition: all 0.2s ease 0s;

            @media #{$device-mobile} {
                border-radius: 1px;
                padding: 2px 4px;
            }

            &::-webkit-input-placeholder {
                font-weight: 300;
            }
            &::-moz-placeholder {
                font-weight: 300;
            }
            &:-moz-placeholder {
                font-weight: 300;
            }
            &:-ms-input-placeholder {
                font-weight: 300;
            }

            &:focus {
                outline: 0;
                width: 20em;

                @media #{$device-mobile} {
                    width: 15em;
                }
            }
        }
    }

    ol {
        padding: 0 9px;

        @media #{$device-mobile} {
            padding: 0 4.5px;
        }

        li {
            margin: 0.5em 0;
            list-style-type: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.25;

            @media #{$device-mobile} {
                margin: 0.25em 0;
            }

            &:last-of-type {
                margin: 0;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

section {
    position: relative;
    margin: 24px;

    @media #{$device-mobile} {
        margin: 12px;
    }

    h1, h2 {
        margin: 0 0 48px;
        width: 768px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 64px;
        font-weight: 700;
        text-transform: uppercase;

        @media #{$device-mobile} {
            margin-bottom: 24px;
            width: 384px;
            font-size: 42.666666666666667px;
        }
    }

    h2 {
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: 400;
        text-transform: none;

        @media #{$device-mobile} {
            margin-bottom: 12px;
            font-size: 21.333333333333333px;
        }
    }

    p {
        margin: 0 0 48px;
        max-width: 640px;
        line-height: 1.5;
        text-transform: none;

        @media #{$device-mobile} {
            margin-bottom: 24px;
            max-width: 320px;
        }

        &:last-of-type {
            margin: 0;
        }
    }
}

#logo {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 24px;

    @media #{$device-mobile} {
        margin: 12px;
    }

    img {
        height: 72px;

        @media #{$device-mobile} {
            height: 36px;
        }
    }
}
